@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <center>
        <h1>
            Sistema de Revisión Técnica Vehícular
        </h1>
    </center>
    <center>
        <img src="~/Content/matri.jpg">
    </center>
    <br>
    <p style="text-align:justify;">
        La Revisión Técnica Vehicular (RTV) se reanudará en el Distrito Metropolitano de Quito desde el segundo semestre. Por ello, la renovación del permiso de circulación para los vehículos exonerados, particulares, comerciales y públicos estará sujeta a la calendarización o recalendarización según sea el caso.

        La calendarización establece que, los propietarios de los vehículos de transporte público, comercial y de cuenta propia, según el último dígito de la placa de identificación, deberán cumplir con el proceso de matriculación en el mes correspondiente, de febrero a noviembre. Los que realicen en diciembre tendrán una multa de 25 dólares.
    </p>
</div>